.app-container {
  height: 1000px;
  width: 100%;
  background-color: #0d0d0d;
  position: relative;
  z-index: -1;
}

.app-box {
  position: relative;
  width: 80%;
  height: 90%;
  /* background-color: rgba(94, 5, 12, 0.13); */
  margin: 0 auto;
  display: flex;
}

.fundo-circulo {
  position: absolute;
  background-color: #5f1012;
  width: 550px;
  height: 535px;
  border-radius: 50px;
  left: 5%;
  top: 17%;
}

.fundo-circulo img {
  position: absolute;
  right: -22%;
  top: -25%;
}

.down-app {
  position: absolute;
  right: 0%;
  top: 12%;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  width: 40%;
  padding: 50px;
}

.down-app p {
  /* font-family: Arial, Helvetica, sans-serif; */
  text-transform: initial;
  font-size: 1.3rem;
  text-align: left;
  margin-top: 40px;
}

.down-app h1,
.down-app h2 {
  margin: 0px;
}

.down-app h2 {
  color: #bd2a2e;
  font-size: 3.5rem;
}

.down-app h1 {
  font-size: 4.5rem;
}

.app-down {
  display: inline-flex;
}

.play-iphone {
  width: 77%;
}

.qr {
  width: 43%;
  left: -18%;
  position: relative;
  top: 8%;
  border-radius: 15px;
}

.apps {
  position: absolute;
  left: 0%;
}

@media (max-width: 1402px) {
  .fundo-circulo {
    position: absolute;
    background-color: #5f1012;
    width: 305px;
    height: 357px;
    border-radius: 50px;
    left: 5vw;
    top: 14%;
  }
  .fundo-circulo img {
    position: absolute;
    right: -29%;
    top: -17%;
    width: 492px;
  }
  .down-app h1 {
    font-size: 3.5rem;
  }
  .down-app h2 {
    color: #bd2a2e;
    font-size: 2.5rem;
  }
  .down-app p {
    font-size: 1rem;
  }
}

@media (max-width: 933px) {
  .down-app {
    right: 25%;
    top: 63%;
  }
}

@media (max-width: 933px) {
  .down-app {
    right: 4%;
    top: 54%;
    padding: 10px;
    width: 83%;
  }
  .down-app h1 {
    text-align: left;
    font-size: 2.5rem;
  }
  .down-app h2 {
    text-align: left;
    font-size: 1.5rem;
  }
  .down-app p {
    margin-top: 21px;
    font-size: 1rem;
  }
  .qr {
    width: 56%;
    left: -11%;
  }
  .play-iphone {
    width: 100%;
  }
  .fundo-circulo {
    width: 244px;
    height: 257px;
    left: 24vw;
    top: 14%;
  }
  .fundo-circulo img {
    right: -26%;
    top: -22%;
    width: 374px;
  }
}

@media (max-width: 752px) {
    .fundo-circulo {
        left: 11vw;
    }
}

