
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto Slab', serif; */

:root {
    --preto: #0D0D0D;
    --vermelho: #911717;
    --secondRed: #BF0413;
    --bege: #D9C6B0;
    --maisClaro: #FEE8DA;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}



.container-home{
    width: 100%;
    height: 750px;
    background-image: url(../imagens/banner-red.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo-gym{
    margin-left: 15%;
    margin-top: 10px;
}

.menu{
    display: flex;
    padding: 0px 20px;
    margin-right: 10%;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-weight: 400;
    font-size: 1.15rem;
    color: rgb(235, 233, 233);
}

.container-menu a {
    font-size: 1.15rem;
    color: var(--maisClaro);
    text-decoration: none;
}

.menu li {
    margin-right: 25px;
    cursor: pointer;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;

}

.menu li:hover {
    color: #BF0413;
    transition: .2s ease;



}





.linha {
    position: relative;
    width: 55px;
    height: 3px;
    background-color: red;
    top: 113%;
    right: -9.5%;
    transition: .13s;
}




.logo-gym a {
    font-weight: 800;
    font-size: 1.8rem;
    color: #BF0413;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.616);
}

[data-button="fecha"]{
    display: none;
}


/* Mobile version */
@media (max-width: 930px) {
    .menu {
        display: block;
        background-color: #6b1111;
        /* color: #ff636b; */
        padding: 20px 200px;
        margin: 0;
        height: 100vh;
    }
    .menu li {
        padding-top: 25px;
    }
    .linha {
        display: none;
    }
    [data-button="fecha"]{
        display: block;
    }
}

@media (max-width: 500px) {
    .container-home{
        height: 702px;
        background-image: url(../imagens/fundo-mobile.jpg);

    }

}