@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto Slab', serif; */

:root {
  --preto: #0d0d0d;
  --vermelho: #911717;
  --secondRed: #bf0413;
  --bege: #d9c6b0;
  --maisClaro: #fee8da;
}

body {
  background-color: aliceblue;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

.container-home {
  width: 100%;
  height: 750px;
  background-image: url(../imagens/banner-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-gym {
  margin-left: 15%;
  margin-top: 10px;
}

.menu {
  display: flex;
  padding: 0px 20px;
  margin-right: 10%;
  animation: animaLeft 1s forwards;
  z-index: -1;
}

.animaS{
  animation: animaClose 1s forwards;

}

@keyframes animaClose{
  from{
    transform: translate3d(100px, 0, 0);
  }
  to{

    transform: translate3d(-100px, 0, 0);
  }
}



@keyframes animaLeft{
  from{
    transform: translate3d(-100px, 0, 0);
  }
  to{

    transform: translate3d(0, 0, 0);
  }
}

.menu .aberto{
  animation: animaLeft 3s forwards;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgb(235, 233, 233);
}

.container-menu a {
  font-size: 1.15rem;
  color: var(--maisClaro);
  text-decoration: none;
}

.menu li {
  margin-right: 25px;
  cursor: pointer;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.menu li:hover {
  color: #f72828;
  transition: 0.2s ease;
}

.linha {
  position: relative;
  width: 55px;
  height: 3px;
  background-color: red;
  top: 113%;
  right: -9.5%;
  transition: 0.13s;
}

.menu li img {
  display: none;
}

.logo-gym-mobile a {
  font-weight: 800;
  font-size: 1.8rem;
  color: #f72828;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.616);
}
.logo-gym a {
  font-weight: 800;
  font-size: 1.8rem;
  color: #f72828;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.616);
}

.logo-gym-mobile {
  display: none;
}

[data-button="fecha"] {
  display: none;
}
.linha {
  width: 30%;
  position: absolute;
  height: 4px;
  background-color: #0d0d0d;
  display: none;
}

.aaaa {
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 13px;
}

.mobile-off {
  display: none;
}
/* Mobile version */

@media (max-width: 930px) {
  .mobile-off.ativo {
    display: block;
    padding: 15px 100px;
  }
  .linha {
    display: block;
    /* position: fixed; */
    width: 60%;
    height: 2px;
    left: 52px;
    top: 106px;
    z-index: 20;
    background: aliceblue;
  }
  .logo-gym {
    display: none;
  }
  .logo-gym-mobile {
    display: block;
    margin-bottom: 7%;
  }
  .logo-gym-mobile a {
    font-size: 2.5rem;
  }

  .menu li img {
    display: inline-block;
    padding-right: 10px;
  }

  .menu {
    display: none;
    width: 70vw;
    background-color: #6b1111;
    /* color: #ff636b; */
    padding: 50px 20px 0 50px;
    margin: 0;
    height: 100vh;
  }
  .menu li {
    padding-top: 40px;
    font-size: 2rem;
  }

  [data-button="fecha"] {
    display: flex;
    position: absolute;
    left: 70%;
    top: 6%;
    padding: 15px;
    background-color: transparent;
    border: none;
    align-items: center;
  }
  [data-button="fecha"]::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 30px;
    background-color: white;
    box-shadow: 0 15px white, 0 -15px white;
  }

  @media (max-width: 500px) {
    .container-home {
      height: 702px;
      background-image: url(../imagens/fundo-mobile.jpg);
    }
  }
}
