@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto Slab', serif; */

:root {
  --preto: #0d0d0d;
  --vermelho: #911717;
  --secondRed: #bf0413;
  --bege: #d9c6b0;
  --maisClaro: #fee8da;
}

body {
  background-color: aliceblue;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

.container-home {
  width: 100%;
  height: 800px;
  background-image: url(../imagens/banner-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-gym {
  margin-left: 15%;
  margin-top: 45px;
}

.menu {
  display: flex;
  padding: 0px 20px;
  margin-right: 10%;
  animation: animaLeft 1s forwards;
  z-index: -1;
  margin-top: 50px;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgb(235, 233, 233);
  top: -25px;
      z-index: 6;
}
.nav{
  position: relative !important;
  z-index: 6 !important;
}

.container-menu a {
  font-size: 1.15rem;
  color: var(--maisClaro);
  text-decoration: none;
}

.menu li {
  margin-right: 25px;
  cursor: pointer;
  list-style: none;
  font-size: 1.6rem !important;
  font-weight: 400;
}

.menu li:hover {
  color: #f72828;
  transition: 0.2s ease;
}

.menu li a{
  font-size: 1.6rem !important;
  font-weight: 400;
  color: aliceblue;
}

.menu li a:hover{
  color: #f72828;
  transition: 0.2s ease;

}


.linha {
  position: relative;
  width: 55px;
  height: 3px;
  background-color: red;
  top: 113%;
  right: -9.5%;
  transition: 0.13s;
}

.menu li img {
  display: none;
}

.logo-gym-mobile a {
  font-weight: 800;
  font-size: 1.8rem;
  color: #f72828;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.616);
}
.logo-gym a {
  font-weight: 800;
  font-size: 2.5rem;
  color: #f72828;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.616);
}

.logo-gym-mobile {
  display: none;
}

.linha {
  width: 30%;
  position: absolute;
  height: 4px;
  background-color: #0d0d0d;
  display: none;
}

.mobile-off {
  display: none;
}
/* Mobile version */

@media (max-width: 1090px) {
  .logo-gym {
    margin-left: 8%;
    margin-top: 45px;
  }
  .menu {
    margin-right: 4%;
  }
}

@media (max-width: 930px) {
  [data-button="fecha"] {
    display: block !important;
  }

  .mobile-off.ativo {
    display: block;
    padding: 15px 100px;
  }
  .linha {
    display: block;
    position: fixed;
    width: 60%;
    height: 2px;
    left: 52px;
    top: 124px;
    z-index: 20;
    background: aliceblue;
  }
  .logo-gym {
    display: none;
    position: absolute;
    left: 115px;
    top: 200px;
  }

  [data-mobile2] {
    /* position: relative !important; */
    top: 26px;
    padding-left: 64px;
  }

  [data-mobile2] {
    position: relative !important;
    left: -62px !important;
    top: -49px !important;
    margin-top: 53px;
  }

  /* se conter ativo .logo-gym-mobile {
    display: block; */

  .logo-gym-mobile {
    display: block;
    margin-bottom: 5%;
    position: relative;
    left: 100px;
    top: 34px;
  }

  .logo-gym-mobile a {
    font-size: 2.5rem;
  }

  .menu li img {
    display: inline-block;
    padding-right: 10px;
  }

  .menu {
    display: none;
    width: 70vw;
    background-color: #6b1111;
    /* color: #ff636b; */
    padding: 50px 20px 0 50px;
    margin: 0;
    height: 100vh;
    z-index: 400;
    position: absolute;
  }
}

.menu.active {
  display: block;
  animation: show-right 0.5s forwards;
}

@keyframes show-right {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.menu li {
  box-sizing: border-box;
  padding: 3px 0px;
  box-sizing: border-box;
  font-size: 2rem;
  padding-bottom: 10px;
}

[data-button="fecha"] {
  display: none;
  position: absolute;
  left: 70%;
  top: 43%;

  padding: 15px;
  background-color: transparent;
  border: none;
  align-items: center;
  z-index: 500;
}

[data-button="fecha"]::before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 30px;
  background-color: white;
  box-shadow: 0 15px white, 0 -15px white;
  transition: transform 0.3s;
  z-index: 500;
}
[data-button="fecha"].active::before {
  transform: rotate(90deg);
  z-index: 500;
}

@media (max-width: 500px) {
  .logo-gym-mobile a {
    font-size: 2.2rem;
  }

  .logo-gym-mobile {
    left: 41px;
    top: 34px;
  }
  [data-mobile2] {
    position: relative !important;
    left: -62px !important;
    top: -16px !important;
  }
}

.oculto {
  opacity: 0;
}

.sobe {
  opacity: 1;
  animation: moveTop 2s forwards;
}

@keyframes moveTop {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
}
