@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap");
/* font-family: 'Oswald', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.container-home {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.banner {
  margin: 0 auto;
  width: 80%;
  position: absolute;
  top: 184px;
  height: 200px;
  /* background-color: rgba(0, 0, 0, 0.178); */
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.7;
  display: block;
}

.banner .mini {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  margin-bottom: 28px;
}

.container-mini {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 65px;
}

.container-processo p {
  font-weight: 700;
  line-height: 1;
  font-size: 4rem;
  transform: scaleY(1.7);
  font-family: "Oswald", sans-serif;
  text-shadow: 9px 3px 0px #1e1616;
  margin-bottom: 89px;
  
  

}

.container-processo {
  margin-bottom: 63px;
}

.button-sign a {
  text-decoration: none;
  color: white;
  background-color: #f83333;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 1.2rem;
}

.seta {
  margin-top: 20px;
}

.banner .mini {
  font-size: 23px;
  max-width: 550px;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .banner {
    top: 137px;
  }
  .banner .mini {
    font-size: 21px;
  }
  .container-mini {
    margin-bottom: 41px;
  }
  .container-processo p {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .container-processo p {
    font-weight: 700;
    line-height: 1;
    font-size: 3rem;
    transform: scaleY(1.7);
    font-family: "Oswald", sans-serif;
    text-shadow: 3px 2px 7px black;
    max-width: 242px;
    margin: 0 auto;
  }
  .banner .mini {
    max-width: 188px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 17px;
  }
  .banner {
    top: 194px;
  }
}

@media (max-width: 456px) {
  .container-mini {
    width: 65%;
  }
}

.seta img {
  animation: levitar 1.5s ease-in-out infinite;
}

@keyframes levitar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
