@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto Slab', serif; */

.planes-container {
  width: 100%;
  height: 900px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
}

.box-planes {
  background-color: rgba(255, 255, 255, 0);
  width: 91%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.planos {
  height: 78%;
  width: 25%;
  margin-right: 20px;
  /* background: linear-gradient(to right, black, #120b0b); */
  background-color: #0e0e0e;
  text-align: center;
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
}

.planos h2 {
  color: #bd2a2e;
  font-size: 2.5rem;
}

.planos p {
  padding-left: 20px;
  text-align: left;
  color: aliceblue;
  font-size: 1.35rem;
  display: flex;
  margin-bottom: 20px;
}

.preco {
  position: absolute;
  bottom: 36px;
  left: 31%;
}

.preco h3 {
  color: aliceblue;
  font-size: 2.5rem;
}

.preco a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 15px;
  background-color: #bd2a2e;
  border-radius: 20px;
}

.planos img {
  padding-right: 25px;
}

@media (max-width: 1396px) {
  .preco {
    left: 26%;
  }
  .planes-container {
    height: 2300px;
  }
  .planos p {
    white-space: nowrap;
  }
}

@media (max-width: 1250px) {
  .box-planes {
    display: block;
  }
  .planos {
    margin: 0 auto;
    height: 33%;
    padding: 0px 20%;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .planos p {
    padding-left: 0px;
  }
  .preco {
    left: 42%;
  }
  .simples {
    height: 29%;
  }
}

@media (max-width: 1250px) {
  .preco h3,
  .preco a {
    position: relative;
    left: -28%;
  }
}

@media (max-width: 850px) {
  .planos {
    width: 54%;
  }
  
  .simples {
    height: 29%;
  }
}
